# Ignorar a pasta env inteira
env/

# Ignorar ambientes virtuais comuns
venv/
.venv/
ENV/
env.bak/
env.old/

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de log
*.log

# Ignorar configurações locais
*.env

# Ignorar dados processados e embeddings (pesados)
data/processed/
data/embeddings/

# Ignorar arquivos temporários do Streamlit
.streamlit/

# Ignorar configurações locais do VS Code
.vscode/

# Ignorar arquivos de cache do sistema
.DS_Store
Thumbs.db
